/* # Front-end Style Guide
## Layout


The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)

## Typography


- Font size (inputs): 32px

 */






/* body {
    margin: 0px;
    background-color: rgb(235, 229, 229);
    font-family: 'Poppins', sans-serif;
}


.date-container {
    padding: 50px;
    margin: 120px;
    background-color: white;
    border-radius: 40px 40px 80px 40px;
}

.date-container p {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: grey;
}

.date-container input :hover,
:active {
    border-color: black;
}

.date-container input {
    padding: 10px;
    border-width: 1px;
    width: 80px;
    margin-right: 4px;
    margin-bottom: 6px;
    border-style: solid;
    border-color: rgb(223, 219, 219);
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
}


.day-div {
    display: inline-block;
}

.month-div {
    display: inline-block;
}

.year-div {
    display: inline-block;
}

hr {
    display: inline-block;
    border: 2px solid black;

}

#calc-btn {
    background-color: hsl(259, 100%, 65%);
    border: none;
    border-radius: 50%;
    margin-left: 80%;
    display: block;

}

#calc-btn img {
    padding: 15px;
}


.display p {
    font-size: 58px;
    font-style: oblique;
    font-weight: bolder;
    color: black;

}

.display span {
    font-size: 100px;
    color: hsl(259, 100%, 65%);
} */






body {
    margin: 0px;
    background-color: rgb(235, 229, 229);
    font-family: 'Poppins', sans-serif;

}


.date-container {
    padding: 40px;
    margin: auto;
    width: 60%;
    height: 850px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 40px 40px 80px 40px;
}

.date-container p {
    margin-bottom: 4px;
    font-weight: bold;
    color: grey;
}

/* Highly Useful styling for input field*/
.date-container input::placeholder{
    color: grey;
    font-weight: bolder;
    transition: color 0.25s ease;
}

.date-container input:focus::placeholder{
    color: transparent;
}

.date-container input:focus
{
    border: 2px solid black;
}

.date-container input {
    outline: none;
    padding: 15px;
    width: 80px;

    margin-right: 5px;
    margin-bottom: 6px;

    border: 2px solid rgb(223, 219, 219);
    border-radius: 5px;
    font-size: 28px;

}

#validator{
    color: red;
    font-weight: lighter;
    display: none;
    font-family: 'Times New Roman', Times, serif;
}

.day-div {
    display: inline-block;
}

.month-div {
    display: inline-block;
}

.year-div {
    display: inline-block;
}


/* Add a horizontal line */
/* hr {
    border: 2px solid black;
} */


#calc-btn:active,#calc-btn:hover{
    border: 1px solid black;
}

#calc-btn {
    background-color: hsl(259, 100%, 65%);
    border: none;
    border-radius: 50%;
    margin-left: 80%;
    display: block;

}

#calc-btn img {
    padding: 15px;
}


.display p {
    font-size: 58px;
    font-style: oblique;
    font-weight: bolder;
    color: black;

}

.display span {
    font-size: 100px;
    margin-top: 4px;
    color: hsl(259, 100%, 65%);
}

.attribution{
    text-align: center;
    font-weight: bold;
}

.attribution a{
    text-decoration: none;
}